.parent .door-left{
  transition: transform 1s;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(116,29,253,1) 50%, rgba(90,69,252,1) 100%);
   backdrop-filter: blur(1px);

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  /* border: 1px solid rgba(43, 43, 43, 0.568); */
}

.parent .door-right{
  transition: transform 1s;
  background: rgb(90,69,252);
  background: linear-gradient(90deg, rgba(90,69,252,1) 0%, rgba(116,29,253,1) 50%, rgba(131,58,180,1) 100%);
  backdrop-filter: blur(10px);

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  /* border: 1px solid rgba(43, 43, 43, 0.568); */
}


.parent:hover .door-left {
  transform: translateX(-100%);
}

.parent:hover .door-right {
  transform: translateX(100%);
}

.parent .door-left {
  transform: translateX(0);
}

.parent .door-right {
  transform: translateX(0);
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}