
.parent {
  perspective: 1000px;
}

.door-left {
  transform: rotate3d(0, 1, 0, 60deg);
}

.door-right {
  transform: rotate3d(0, 1, 0, -60deg);
}

.door {
  width: 300px;
  height: 500px;
  background: linear-gradient(90deg, #8b4513 10%, #a0522d 50%, #8b4513 90%);
  box-shadow: inset 0 0 10px #5a2d0c, 0 4px 6px rgba(0, 0, 0, 0.2);
  border: 15px solid #654321;
  border-radius: 10px; /* Optional: if you want rounded corners */
}

.door-0::after {
  content: "";
  position: absolute;
  right: 30px; /* Adjust based on your preference */
  top: 40%; /* Adjust to position the handle appropriately */
  width: 20px; /* Width of the handle */
  height: 40px; /* Height of the handle */
  background: linear-gradient(#d4a960, #806c3d);
  border-radius: 5px; /* Gives a rounded effect to the sides of the handle */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Optional: adds some depth */
}

.door-1::after {
  content: "";
  position: absolute;
  left: 30px; /* Adjust based on your preference */
  top: 40%; /* Adjust to position the handle appropriately */
  width: 20px; /* Width of the handle */
  height: 40px; /* Height of the handle */
  background: linear-gradient(#d4a960, #806c3d);
  border-radius: 5px; /* Gives a rounded effect to the sides of the handle */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Optional: adds some depth */
}

.slide-right {
  transform: translateX(-100%);
  animation: l-to-r 1.5s ease-in;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
}

.slide-left {
  transform: translateX(100%);
  animation: r-to-l 1.5s ease-in;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

@keyframes l-to-r {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes r-to-l {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
